<html>
<body>
<style>
img {
  border: 5px solid #555;
}
</style>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
</style>
<h1 style="background-color: DarkSalmon;">LIBERTY AUTO <br> INSURANCE QUOTE</h1>
<img src="https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-tick-vector-icon-png-image_696437.jpg" alt="Checkmark" style="width:100px;height:100px;">
<h2 style="border:2px solid Tomato;">Thank you! <br> You have successfully submitted your details.</h2>
<h3 style="color:Maroon;">Our insurance quote generator will find the best quote for your vehicle. A copy of the receipt will be sent to you on your registered email. </h3>
<style>
body {
  background-color: AliceBlue;
}
</style>

</body>
</html>